{% extends 'admin/base.html' %}

{% block title %}Post{% endblock %}

{% block nav_post %}active{% endblock nav_post %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-1 d-flex flex-column justify-content-start text-center">
                    <span class="" style="color: #ff0a54;">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </span>
                    <b>{{ post.vote }}</b>
                </div>
                <div class="col-11">
                    <div class="row mb-4">
                        <div class="col-12 d-flex align-items-center justify-content-start mb-4">
                            <p class="h1 font-weight-bold mb-0 text-success">{{ post.title }}</p>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-start mb-4">
                            <p class="h6 mr-4">Posted by <b>{{ post.username }}</b></p>
                            <p class="h6 mr-4">
                                <span class="mr-2 text-info">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <b>{{ post.location }}</b>
                            </p>
                            <p class="h6 mr-4">
                                <span class="mr-2 text-success">
                                    <i class="fa fa-database" aria-hidden="true"></i>
                                </span>
                                <b>Rp {{ post.budget }},00</b>
                            </p>
                            <p class="h6 mr-4">
                                <span class="mr-2 text-primary">
                                    <i class="fa fa-car" aria-hidden="true"></i>
                                </span>
                                {% for transport in list_transport %}
                                    {% if transport.transport_id == post.transport %}
                                        <b>{{ transport.transport }}</b>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="h6 mr-4">
                                Rating:
                                <span class="text-warning">
                                {% for user in range(post.location_rating) %}
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                {% endfor %}
                                </span>
                            </p>
                        </div>
                        <div class="col-12 mb-4">
                            {{ post.content }}
                            <div class="mt-4">
                                <form method="POST" action="{{ url_for('comment.insert', id=post.post_id) }}">
                                    <div class="d-flex justify-content-between">
                                        <input class="form-control" type="text" name="username" value="{{ current_user.username }}" hidden>
                                        <input class="form-control" type="text" name="content" placeholder="Comment...">
                                        <button type="submit" class="btn btn-success ml-4 px-4">Post</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Comment -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        {% for comment in list_comment %}
                                            {% if comment.post_id == post.post_id %}
                                            <div class="col-12 mb-5">
                                                <div class="row">
                                                    <div class="col-1 d-flex flex-column justify-content-start text-center">
                                                        <span class="" style="color: #ff0a54;">
                                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                        </span>
                                                        <b>{{ comment.vote }}</b>
                                                    </div>
                                                    <div class="col-9">
                                                        <p class="h6 mr-4">Posted by <b>{{ comment.username }}</b></p>
                                                        {{ comment.content }}
                                                    </div>
                                                    <div class="col-2 Sd-flex align-items-center justify-content-start text-center">
                                                        <form method="POST">
                                                            <a class="btn btn-danger" type="submit" href="{{ url_for('comment.delete', id=comment.comment_id) }}">Delete</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}