{% extends 'user/base.html' %}

{% block title %}Update Post{% endblock %}

{% block nav_post %}active{% endblock nav_post %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if message %}
            <div class="col-12">
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="col-3"></div>
        <div class="col-6 align-self-center pt-2 pb-5 px-5">
            <div class="d-sm-flex align-items-center justify-content-center mb-5">
                <h1 class="h3 mb-0 font-weight-bold text-gray-800">Create Post</h1>
            </div>
            <form class="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Title</label>
                    <input class="form-control" name="title" type="text" placeholder="My Vacation..." value="{{ post.title }}" required>
                </div>

                <div class="form-group">
                    <label for="">Location</label>
                    <input class="form-control" name="location" type="text" placeholder="Vacation location..." value="{{ post.location }}" required>
                </div>

                <div class="form-group">
                    <label for="">Location Rating</label>
                    <input class="form-control" name="location_rating" type="text" placeholder="1 - 5" value="{{ post.location_rating }}" required>
                </div>

                <div class="form-group">
                    <label for="">Budget</label>
                    <input class="form-control" name="budget" type="text" placeholder="Your budget estimation..." value="{{ post.budget }}" required>
                </div>

                <div class="form-group">
                    <label for="">Transportation</label>
                    <select name="transport" class="form-control" required>
                        {% for transport in list_transport %}
                            {% if transport.transport_id == post.transport %}
                                <option value="{{ transport.transport_id }}" selected>{{ transport.transport }}</option>
                            {% endif %}
                            <option value="{{ transport.transport_id }}">{{ transport.transport }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group" hidden>
                    <label for="">Vote</label>
                    <input class="form-control" name="vote" type="text" value="{{ post.vote }}" required>
                </div>

                <div class="form-group">
                    <label for="">Story</label>
                    <textarea class="form-control" name="content" style="height: 250px">{{ post.content }}</textarea>
                </div>

                <button type="submit" value="create user" class="btn btn-success btn-user btn-block mt-5">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}