{% extends "base/nav_user.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Profile - Add</h1>
    </div>
    <div class="container my-5">

        {% if list_user | length < 1 %}
            <p>Tabel user Kosong! Tambah user terlebih dahulu!</p>
        {% else %}
            <form method="post">
                <div class="form-group mt-3">
                    <h5>Username</h5>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group mt-3">
                    <h5>Name</h5>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="form-group mt-3">
                    <h5>Email</h5>
                    <input type="text" name="email" class="form-control" required>
                </div>
                <div class="form-group mt-3">
                    <h5>Telp</h5>
                    <input type="text" name="telp" class="form-control" required>
                </div>
                <div class="form-group mt-3">
                    <h5>Profile pict</h5>
                    <input type="text" name="profile_pict" class="form-control" required>
                </div>

                {% if message %}
                    <div class="conatiner mt-3 text-danger">
                        <h5>{{ message }}</h5>
                    </div>
                {% endif %}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}