{% extends "base/nav_user.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Tabel Profile</h1>
    </div>
    <div class="container my-5">
        <a href="insert">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
        </a>
        {% if list_profile | length < 1 %}
            <p>Tabel profile Kosong!</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Telp</th>
                    <th>Profile pict</th>

                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for profile in list_profile %}
                <tr>
                    <td>{{ profile.username }}</td>
                    <td>{{ profile.name }}</td>
                    <td>{{ profile.email }}</td>
                    <td>{{ profile.telp }}</td>
                    <td>{{ profile.profile_pict }}</td>

                    <td>
                        <a href="{{ 'update/' + profile.username }}">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </a>
                        <form action="{{ 'delete/' + profile.username }}" method="post">
                            <div class="form-group mt-1">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}