.bg-cover {
    background-image: url('/static/img/cover.png');
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

.bg-cover .jumbotron {
    background-color: rgba(0,0,0,0.6);
}