{% extends "base/nav_user.html" %}

{% block title %}Post_transport{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Post_transport - Edit {{ post_transport.id }}</h1>
    </div>
    <div class="container my-5">

        {% if list_post | length < 1 %}
            <p>Tabel post Kosong! Tambah post terlebih dahulu!</p>
        {% elif list_transportation | length < 1 %}
            <p>Tabel transportation Kosong! Tambah transportation terlebih dahulu!</p>
        {% else %}
            <form method="post">
                <div class="form-group mt-3">
                    <h5>Id</h5>
                    <input type="text" name="id" class="form-control" value="{{ post_transport.id }}" required>
                </div>
                <div class="form-group mt-3">
                    <h5>Post</h5>
                    <select name="post_id" required>
                        {% for post in list_post %}
                            <option value="{{ post.post_id }}" {% if post_transport.post_id == post.post_id %}selected{% endif %}>{{ post.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mt-3">
                    <h5>Transportation</h5>
                    <select name="transport_id" required>
                        {% for transportation in list_transportation %}
                            <option value="{{ transportation.transport_id }}" {% if post_transport.transport_id == transportation.transport_id %}selected{% endif %}>{{ transportation.transport }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% if message %}
                    <div class="conatiner mt-3 text-danger">
                        <h5>{{ message }}</h5>
                    </div>
                {% endif %}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}