{% extends "base/nav_user.html" %}

{% block title %}Post_transport{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Tabel Post_transport</h1>
    </div>
    <div class="container my-5">
        <a href="insert">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
        </a>
        {% if list_post_transport | length < 1 %}
            <p>Tabel post_transport Kosong!</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Post</th>
                    <th>Transportation</th>

                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post_transport in list_post_transport %}
                <tr>
                    <td>{{ post_transport.id }}</td>
                    {% for post in list_post %}
                        {% if post_transport.post_id == post.post_id %}
                            <td>{{ post.title }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for transportation in list_transportation %}
                        {% if post_transport.transport_id == transportation.transport_id %}
                            <td>{{ transportation.transport }}</td>
                        {% endif %}
                    {% endfor %}

                    <td>
                        <a href="{{ 'update/' + post_transport.id }}">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </a>
                        <form action="{{ 'delete/' + post_transport.id }}" method="post">
                            <div class="form-group mt-1">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}